<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SEÑAVOX"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Seavox">

        <!-- Actividad de la cámara -->
        <activity
            android:name=".CamaraActivity"
            android:exported="true" />

        <!-- Pantalla principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividades del menú lateral -->
        <activity android:name=".DiccionarioActivity" />
        <activity android:name=".HistorialActivity" />
        <activity android:name=".IdiomasActivity" />
        <activity android:name=".AbecedarioActivity" />
        <activity android:name=".DetalleLetraActivity" />

    </application>
</manifest>
